{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3>Logowanie</h3>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">Nazwa użytkownika</label>
        <input class="form-control" name="username" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Hasło</label>
        <input class="form-control" type="password" name="password" required>
      </div>
      <button class="btn btn-primary">Zaloguj</button>
    </form>
    <p class="mt-3"><small>Użytkownik: <strong>rejestratorka</strong>, hasło: <strong>haslo123</strong></small></p>
  </div>
</div>
{% endblock %}
